@model SeatsProject.Models.Sede

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Sede</h4>
<hr />




<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"
        integrity="sha512-uto9mlQzrs59VwILcLiRYeLKPPbS/bT71da/OEBYEwcdNUk8jYIy+D176RYoop1Da+f9mvkYrmj5MCLZWEtQuA=="
        crossorigin="anonymous"
        referrerpolicy="no-referrer"></script>
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Descrizione" class="control-label"></label>
                <input asp-for="Descrizione" class="form-control" />
                <span asp-validation-for="Descrizione" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CodiceArea" class="control-label"></label>
                <input asp-for="CodiceArea" class="form-control" />
                <span asp-validation-for="CodiceArea" class="text-danger"></span>
            </div>
            
            
            <div class="form-group">
                <label asp-for="IdPadre" class="control-label"></label>
              <input id="fatherId" asp-for=IdPadre type="hidden" value="ciao " />

                <span asp-validation-for="IdPadre" class="text-danger"></span>
             
            </div>

            

           

            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Prenotabile" /> @Html.DisplayNameFor(model => model.Prenotabile)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary"/>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

<input type="text" id="searchInput" placeholder="Cerca...">

<select id="combobox" onchange="myFunction()">
    @foreach (var sede in ViewBag.Seat)
    {
        <option value="@sede.Descrizione">@sede.Descrizione</option>
    }

</select>

<script>

    function myFunction() {                                      // this function is used to take fatherId by the dropdown menu selection.

        var x = document.getElementById("combobox").value;

        var options = @Html.Raw(Json.Serialize(ViewBag.Seat));                    // Json string

        options.forEach((item) => {                                          // foreach on options which has the model list values

            if (item.descrizione == x){

                var fatherId= item.id;

               document.getElementById("fatherId").value=fatherId;
            }
        });
    }

    $(document).ready(function () { // here we wait the complete load of the document
        var comboBox = $("#combobox");

        var searchInput = $("#searchInput");

  
        // execute the filter when the user types an input.
        searchInput.on("input", function () {
            var searchText = $(this).val().toLowerCase();

            comboBox.find("option").each(function () {
                var optionText = $(this).text().toLowerCase();
                $(this).toggle(optionText.indexOf(searchText) > -1);
            });
        });

    });

</script>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
  
}
