@model SeatsProject.Models.Sede

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Sede</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Descrizione" class="control-label"></label>
                <input asp-for="Descrizione" class="form-control" />
                <span asp-validation-for="Descrizione" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CodiceArea" class="control-label"></label>
                <input asp-for="CodiceArea" class="form-control" />
                <span asp-validation-for="CodiceArea" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdPadre" class="control-label"></label>
                <input asp-for="IdPadre" class="form-control" />
                <span asp-validation-for="IdPadre" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Prenotabile" /> @Html.DisplayNameFor(model => model.Prenotabile)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
